{% extends "appbuilder/baselayout.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block head_css %}
{{ super() }}

{% endblock %}
{% block content %}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12">
          <h1>Karen's Fantasy Outlook</h1>
          <h3>{{ league.name }} ({{ league.year }})</h3>
        </div>
        {% if league.power_rankings %}
          <div class="col-md-12">
            <h3>Power Rankings for {{ league.name }}</h3>
            <p>*These power rankings are calculated using a two-step dominance matrix (you can read more about this methodology here). Effectively, it looks at who has beaten who, and calculates the "better" team that way. If team A beats team C, and team C beats team D - team A has "two step dominance" over team D.</p>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph_power_rankings">
                  <div style="width: 100%; min-height:400px;">
                      {{ league.power_rankings_df|safe }}
                  </div>
                  <div class="clearfix"></div>
              </div>
          </div>
        {% endif %}
        <!-- Team level statistics -->
        {% if league.team_level_stats %}
          <div class="col-md-12">
            <h3>Team Level Stats for {{ league.name }}</h3>
            <p>Beep boop beep.</p>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph_power_rankings">
                {{ league.team_summary_df|safe }}
              </div>
          </div>
        {% endif %}
        <!-- Player level statistics -->
        {% if league.player_level_stats %}
          <div class="col-md-12">
            <h3>Player Level Stats for {{ league.name }}</h3>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph_player_level_stats">
                {{ league.player_summary_df|safe }}
              </div>
          </div>
        {% endif %}
        <!-- Player stats by position -->
        {% if league.player_position_stats %}
          <div class="col-md-12">
            <h3>Player Level Stats by position for {{ league.name }}</h3>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph_player_position_stats">
                {{  league.top_positions_df|safe  }}
              </div>
          </div>
        {% endif %}
        <!-- Show the teams in the league if team-level analytics are enabled -->
        {% if league.team_level_analytics %}
        <div class="col-md-12">
          <h3>Team Level Analytics</h3>
        </div>
        {% for team in league.teams %}
          <a href="{{ league.year }}/teams/{{ team['name'] }}">{{  team['name']  }}</a><br>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
