{% extends "appbuilder/baselayout.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block head_css %}
{{ super() }}

{% endblock %}
{% block content %}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12">
          <h1>Karen's Fantasy Outlook</h1>
          <h3>{{ team.team_name }} ({{ team.year }})</h3>
        </div>
        <!-- Unexpected outcomes -->
        {% if league.unexpected_outcomes %}
          <div class="col-md-12">
            <h3>Unexpected Outcomes for {{ team.team_name }}</h3>
            <p>Beep boop beep.</p>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph_foobar">
                <div style="width: 100%; min-height:800px;">
                  <iframe noresize='noresize'
                      style='position: absolute; background: transparent; width: 95%; height:100%;' src={{ unexpected_outcomes_url }}
                      frameborder="0">
                  </iframe>
                </div>
                <div class="clearfix"></div>
            </div>
          </div>
        {% endif %}
        <!-- MVP Analysis -->
        {% if league.mvp_analysis %}
          <div class="col-md-12">
            <h3>MVP Analysis for {{ team.team_name }}</h3>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph_foobar">
                <div style="width: 100%; min-height:800px;">
                  <iframe noresize='noresize'
                      style='position: absolute; background: transparent; width: 95%; height:100%;' src={{ unexpected_outcomes_url }}
                      frameborder="0">
                  </iframe>
                </div>
                <div class="clearfix"></div>
            </div>
        {% endif %}
        <!-- Free Agent Recommendations -->
        <!-- {% if league.free_agent_recs %}
          <div class="col-md-12">
            <h3>Free Agent Recommendations for {{ team.name }}</h3>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            {{  team.free_agents_df|safe  }}
          </div>
        {% endif %} -->
    </div>
</div>
{% endblock %}
